<h2>Détails de l'annonce</h2>
<ul>
    <li>Date : {{ annonce.datePromenade }}</li>
    <li>Horaire : {{ annonce.horaire }}</li>
    <li>Durée : {{ annonce.duree }} minutes</li>
    <li>Endroit : {{ annonce.endroitPromenade }}</li>
    <li>Tarif : {{ annonce.tarif }}</li>
    <li>Status : {{ annonce.status }}</li>
    <li>Description : {{ annonce.description }}</li>
    <li>ID Utilisateur : {{ annonce.idUtilisateur }}</li>
</ul>
