{% extends 'base_template.twig' %}

{% block title %}Utilisateurs — DogSitter{% endblock %}

{% block content %}
    <div class="container my-4">
        {% if utilisateursListe is defined and utilisateursListe|length > 0 %}
            <h2>Liste des utilisateurs :</h2>
            <ul>
                {% for utilisateur in utilisateursListe %}
                    <li>{{ utilisateur.prenom }} {{ utilisateur.nom }} - {{ utilisateur.email }}</li>
                {% else %}
                    <li>Aucun utilisateur trouvé.</li>
                {% endfor %}
            </ul>

        {% elseif utilisateur is defined %}
            <h2>Un utilisateur :</h2>
            <ul>
                <li>{{ utilisateur.prenom }} {{ utilisateur.nom }} - {{ utilisateur.email }}</li>
            </ul>
        {% else %}
            <p>Aucun utilisateur à afficher.</p>
        {% endif %}

        <a href="?controleur=Index&methode=render">Accueil</a>
    </div>
    {% block footer %}
    {% endblock %}
{% endblock %}
